@font-face {
    font-family: gtpressura;
    src: url("../fonts/gt-pressura-mono-regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: gtpressura;
    src: url("../fonts/gt-pressura-mono-bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: doss;
    src: url("../fonts/dosscollection-acid.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* Chrome, Safari, and Opera */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.focus-close {
    position: fixed;
    top: 1rem;
    left: 1rem;
    font-size: 2rem;
    background: none;
    color: black;
    border: none;
    cursor: pointer;
    z-index: 2000;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.focus-close.visible {
    opacity: 1;
    pointer-events: auto;
}

.sidebar-wrapper {
    width: 30%;

    display: flex;
    flex-direction: row;
}

.sidebarOne {
    border: solid 1px black;
    width: 50%;
    height: 100vh;
    overflow: scroll;
}

.sidebarTwo {
    border: solid 1px black;
    width: 50%;
    height: 100vh;
    margin-left: -1px;

}

.gratelist {
    padding-left: 2em;
    margin: 20px;
    transition: opacity 0.3s ease;
}

.gratelist.dimmed .list-item {
    opacity: 0.3;
}

.list-item {
    transition: opacity 0.3s ease;
}

.list-item.highlighted {
    opacity: 1 !important;
}

.grid {

    padding-left: 2em;
    padding-right: 2em;

    width: 100% !important;
    position: relative;
}

.grid-item {
    width: 15%;
    margin: 10px;
    float: left;
    transition: opacity 0.3s ease;
}

.grid-item img {
    width: 80%;
    display: block;
    border-radius: 6px;
}

.logobox {
    background-color: black;
    border: solid 1px black;
    position: relative;
    height: auto;
    transition: height 0.4s ease, max-height 0.4s ease;
    overflow: hidden;
}

.logobox.expanded {
    height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
}

.logo-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
}

#logo {
    font-family: doss;
    font-size: 32pt;
    line-height: 32pt;
    color: white;
    margin: 0;
}

.info-button {
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 1px solid white;
    font-family: gtpressura;
    font-size: 10pt;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    transition: opacity 0.3s ease;
    margin-top: 0.4em;
    line-height: 12pt;
}

.info-button:hover {
    opacity: 0.8;
}

.info-button.hidden {
    opacity: 0;
    pointer-events: none;
}

.about-content {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
    padding: 20px;
    padding-top: 10px;
    color: white;
}

.about-content.visible {
    display: block;
    opacity: 1;
}

.close-about {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
    z-index: 11;
    line-height: 1;
}

.close-about:hover {
    opacity: 0.8;
}

.about-text {
    margin-top: 10px;
}

/* Intro overlay styles */
#intro-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 5vw;
    transition: opacity 0.5s ease;
}

#intro-overlay.fade-out {
    opacity: 0;
    pointer-events: none;
}

#intro-logo {
    font-family: doss;
    font-size: 15vw;
    line-height: 15vw;
    color: white;
    margin: 0;
    white-space: pre;
    transition: all 1.2s cubic-bezier(0.4, 0.0, 0.2, 1);
    transform-origin: top left;
}

body {
    font-family: gtpressura;
    margin: 0px;
}

h2 {
    font-weight: normal;
    font-size: medium;
}

.layout {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

.sortfilterbox {
    padding: 20px;
    height: calc(100% - 164px);
    overflow: scroll;
    transition: opacity 0.3s ease;
}

.sortfilterbox.disabled {
    opacity: 0.3;
    pointer-events: none;
}

.filters p {
    line-height: 9pt;
}

.sortopt {
    line-height: 9pt;
    text-indent: 1em;
    color: tomato;
}

.sortopt:hover {
    opacity: 0.8;
}

.filters p:hover {
    opacity: 0.8;
}

.filters p.active {
    color: rgb(255, 0, 0)
}

.filters p.active::before {
    content: "• ";
    margin-right: 5px;
}

.sortopt.active::before {
    content: "• ";
    margin-right: 5px;
}

.sortopt.active {
    color: rgb(255, 0, 0)
}

.filters .filt {
    cursor: pointer;
    color: tomato;
    text-indent: 1em;
}

.list-item p {

    text-indent: -2em;
}

.grid.dimmed .grid-item {
    opacity: 0.3;
}

.grid-item.highlighted {
    opacity: 1 !important;
}

.grid.focus-mode .grid-item {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease;
}

.clone-focus img {
    width: 100%;
    height: 100%;
    object-fit: contain;

}


.clone-focus {

    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    transform: none;


    transition: all 0.6s ease;
    z-index: 1000;
}


.list-item.focused {
    background: black;
    color: white;
    transition: background 0.3s ease, color 0.3s ease;
}

.sidebarThree {
    position: absolute;
    bottom: -3px;
    height: 0;
    overflow: hidden;
    background: #ffffff;
    border: solid 1px black;
    transition: height 0.4s ease, padding 0.4s ease;
    overflow: scroll;
}

.sidebarThree.visible {
    height: 50%;


}

.filters.disabled {
    opacity: 0.3;
    pointer-events: none;
}

.details-content {
    padding: 20px;
}

.sideTitle {
    font-family: doss;
    font-size: 30pt;
    line-height: 30pt;
    text-transform: uppercase;

}

.sideDesc,
.sideType,
.sideQuant,
.sideLoc,
.sideShapecont,
.sideHoleShapecont,
.sidePurposecont,
.sideOrientationcont,
.sideSizecont,
.sideDebris,
.sideDate {
    margin-top: 20px;
}


.sideShape,
.sideHoleShape,
.sideOrientation,
.sidePurpose,
.sideSize {
    color: tomato;
}

.sorter {
    cursor: pointer;
}

.sorter:hover {
    opacity: 0.8;
}

.gridContainer {
    width: 70%;
    height: 100vh !important;
    overflow: scroll !important;
}

.sortdirection {}