@font-face {
    font-family:coda;
    src: url(cmmcodaprop.woff2) format("woff2");
}
@font-face {
    font-family:coda-ital;
    src: url(cmmcodapropital.woff2) format("woff2");
}

em { font-family: coda-ital, sans-serif; font-style: normal;}
body {font-family: coda, sans-serif;}
h1, h2, h3 {
    color:rgb(41, 87, 89)
}
p, blockquote {
    color:cadetblue
}

a {color:rgb(255, 0, 144)}

.worklist { font-weight: 100;}

a:hover {font-style: italic;}