@font-face {
    font-family: "Timezone-italic";
    src:
        url("/fonts/HALTimezone-Italic.woff2") format("woff2");
}

body {
    background-color: black;
    margin: 0px !important;
    overflow: hidden;
}

#screen0 {
    background-color: black;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

#screen0.active {
    transition: none !important;
}

#title-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    height: 60vw;
    transform-origin: center;
    animation: titleRotate 4s ease-in-out forwards;
}

#title-words {
    text-anchor: middle;
    fill: rgb(255, 255, 255);
    font-size: 25pt;
    offset: 50%;
    font-family: Timezone-italic;
    opacity: 50%;
}

@keyframes titleRotate {
    0% {
        transform: translate(-50%, -50%) rotate(170deg);
        opacity: 0;
    }

    35% {
        opacity: 1;
    }

    65% {
        opacity: 1;
    }

    100% {
        transform: translate(-50%, -50%) rotate(190deg);
        opacity: 0;
    }
}

#screen1,
#screen2,
#screen3,
#screen20,
#screen21,
#screen29,
#screen30 {
    opacity: 0;
    transition: opacity 1.5s ease;
    pointer-events: none;
    /* Prevent interaction when hidden */
}

#screen0 {
    opacity: 1;
    pointer-events: auto;
}

#screen0.active,
#screen1.active,
#screen2.active,
#screen3.active,
#screen20.active,
#screen21.active,
#screen29.active,
#screen30.active {
    opacity: 1;
    pointer-events: auto;
}

#ike {

    width: 100px;
    height: 100px;

    position: absolute;
    left: 47vw;
    top: 110vh;
    animation: ikefloat 6s cubic-bezier(.4, 0, .43, 1) 0s infinite normal;
    transition: left 1.5s ease, top 1.5s ease, bottom 1.5s ease;
}

#ikeimg {
    background: url(/images/ike1.png);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    animation: iketilt 6s linear 0s infinite normal;
    transition: transform 0.5s ease 0s;
}

#ikeimg.talk {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background: url(/images/ike1.png);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    transition: transform 0.5s ease 0s;
    animation: iketilt 6s linear 0s infinite normal, iketalk 0.3s steps(1) 0s infinite normal;

}

#ikeimg.screen2-position.talk {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background: url(/images/ike1.png);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    transform: scaleX(-1);
    transition: transform 0.5s ease 0s;
    animation: iketilt-flipped 6s linear 0s infinite normal forwards, iketalk 0.3s steps(1) 0s infinite normal;

}

#ikeimg.screen3-position.talk {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background: url(/images/ike1.png);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    transition: transform 0.5s ease 0s;
    animation: iketilt 6s linear 0s infinite normal forwards, iketalk 0.3s steps(1) 0s infinite normal;

}



#ike.screen2-position {
    left: 25vw;
    top: 40vh;


}

#ike.screen20-position {
    left: 25vw;
    top: 60vh;


}

#ike.screen21-position {
    left: 20vw;
    top: 80vh;


}

#ike.screen3-position {
    left: 90vw;
    top: 70vh;

}

#ikeimg.screen2-position {
    animation: iketilt-flipped 6s linear 0s infinite normal forwards;
    transition: transform 0.5s ease 0s;
}

#ikeimg.screen3-position {
    animation: iketilt 6s linear 0s infinite normal forwards;
    transition: transform 0.5s ease 0s;
}

#aurabox {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

#circle1 {
    position: relative;
    width: 50vw;
    height: 50vw;
    border-radius: 50%;
    border: 30px solid magenta;

    filter: blur(70px);
    opacity: 100%;
    animation: pulse1 12s ease 0s infinite normal forwards;

    overflow: visible;
    will-change: transform;

}



#circle2 {
    position: absolute;
    width: 50vw;
    height: 50vw;
    border-radius: 50%;
    border: 10px solid magenta;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(20px);
    opacity: 30%;
    display: none;
    animation: pulse1 10s ease 0s infinite normal forwards;

    overflow: visible;
    will-change: transform;

}

@keyframes pulse1 {
    0% {
        border: 50px solid;
        width: 40vw;
        height: 40vw;
        opacity: 50%;
    }

    50% {
        border: 10px solid;
        width: 70vw;
        height: 70vw;
        opacity: 100%;
    }

    100% {
        border: 50px solid;
        width: 40vw;
        height: 40vw;
        opacity: 50%;
    }
}

@keyframes pulse2 {
    0% {
        border: 50px solid;
        width: 80vw;
        height: 80vw;
        opacity: 50%;
    }

    50% {
        border: 80px solid;
        width: 20vw;
        height: 20vw;
        opacity: 100%;
    }

    100% {
        border: 50px solid;
        width: 80vw;
        height: 80vw;
        opacity: 50%;
    }
}

#circle1.pulse2,
#circle2.pulse2 {
    animation: pulse2 12s ease 0s infinite normal forwards;
}

@keyframes ikefloat {
    0% {
        transform: translateY(0px);
    }

    25% {
        transform: translateY(20px);
    }

    50% {
        transform: translateY(0px);
    }

    75% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0px);
    }

}

@keyframes iketilt {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(10deg);
    }

    50% {
        transform: rotate(20deg);
    }

    75% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes iketilt-flipped {
    0% {
        transform: rotate(0deg) scaleX(-1);
    }

    25% {
        transform: rotate(10deg) scaleX(-1);
    }

    50% {
        transform: rotate(20deg) scaleX(-1);
    }

    75% {
        transform: rotate(10deg) scaleX(-1);
    }

    100% {
        transform: rotate(0deg) scaleX(-1);
    }
}

@keyframes iketalk {
    0% {
        background-image: url(/images/ike1.png);
        background-size: contain;
        animation-timing-function: step-end;
    }

    50% {
        background-image: url(/images/ike2.png);
        background-size: contain;
        animation-timing-function: step-end;
    }
}


#intro {
    transform: rotate(0deg);
    position: absolute;
    top: 10vh;
    left: 50vw;
    transform: translateX(-50%);
    width: 80vw;
    height: 30vh;
}

#intro-text {
    text-anchor: middle;
    fill: rgb(255, 255, 255);
    font-size: 30pt;
    offset: 50%;
    font-family: Timezone-italic;
}

#screen1-next {
    background-color: black;
    border: 2px solid white;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    line-height: 10px;
    font-family: Timezone-italic;
    font-size: 30pt;
    color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: calc(50vh - 35px);
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

#screen1-next:hover {
    transform: translateX(-50%) scale(1.2);
    background-color: white;
    color: black;

}

#infobutton {
    background-color: black;
    opacity: 70%;
    border: 2px solid white;
    border-radius: 20px;
    width: 30px;
    height: 30px;
    font-family: Timezone-italic;
    font-size: 15pt;
    color: white;
    position: absolute;
    left: 1em;
    bottom: 1em;
    cursor: pointer;
    transition: width 0.3s ease, height 0.3s ease, border-radius 0.3s ease;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-label {
    position: absolute;
    transition: opacity 0.3s ease;
}

.info-expanded {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    padding: 20px;
    line-height: 18pt;
    text-align: left;
}

.info-expanded p {
    margin: 0 0 1em 0;
}

.info-expanded p:last-child {
    margin-bottom: 0;
}

#infobutton:hover {
    width: 250px;
    height: 380px;
    align-items: flex-start;
    justify-content: flex-start;
}

#infobutton:hover .info-label {
    opacity: 0;
}

#infobutton:hover .info-expanded {
    opacity: 1;
}

textarea {
    background: none;
    font-family: Timezone-italic;
    border: none;
    font-size: large;
    color: white;
    width: 15em;
    resize: none;
    overflow-x: scroll;
    outline: none;
}

textarea:focus {
    outline: none;
}

input {
    background-color: black;
    border: 1px solid white;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    line-height: 10px;
    font-family: Timezone-italic;
    font-size: large;
    color: white;
    vertical-align: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

input:hover {
    background-color: white;
    color: black;
}

.cls-1 {
    fill: black;
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-width: 2.5px !important;
    transform: scaleX(120%);
}

#speechBub {
    position: absolute;
    left: -38px;
    top: 60%;

    transform: translateY(-50%);
    width: 40px;

    height: 30px;
    z-index: 999;

}


form {
    position: absolute;
    left: 50vw;
    transform: translateX(-50%);
    top: 50vh;
}

form::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 8px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 4'%3E%3Cpath d='M0,2 Q2.5,0 5,2 T10,2 T15,2 T20,2' stroke='white' stroke-width='1' fill='none'/%3E%3C/svg%3E");
    background-repeat: repeat-x;
    background-size: 20px 4px;
    background-position: bottom;
}

#bubContainer {
    position: absolute;
    left: 50vw;
    transform: translateX(-50%);
    top: 30vh;
    display: inline-block;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#bubContainer.visible {
    opacity: 1;
}

#screen20 #bubContainer {
    position: absolute;
    left: 50vw;
    transform: translateX(-50%);
    top: 50vh;
    display: inline-block;
}

#screen21 #bubContainer {
    position: absolute;
    left: 50vw;
    transform: translateX(-50%);
    top: 85vh;
    display: inline-block;
}

#screen21 #bubContainer #speechBub {
    transform: scaleY(-1) translateY(25px);
}

#screen3 #bubContainer {
    position: absolute;
    left: 75vw;
    top: 64vh;
    display: inline-block;
}

#screen3 #bubContainer #speechBub {
    position: absolute;
    left: 98.5%;
    margin-left: 0px;
    top: 50%;
    transform: translateY(-50%) scaleX(-1);
    width: 40px;
    height: 30px;
    z-index: 999;
}

.dialog {
    font-family: Timezone-italic;
    font-size: large;
    color: white;
    position: relative;
    padding: 20px;
    border: solid 2px white;
    border-radius: 10px;
    height: 18pt;

}

#screen3-buttons {
    position: fixed;
    bottom: 7vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    opacity: 0;
    mix-blend-mode: screen;
    transition: opacity 0.5s ease;
}

#screen3-buttons.visible {
    opacity: 1;
}

#screen3-buttons button {
    font-family: Timezone-italic;
    font-size: large;
    color: white;
    background-color: black;
    padding: 12px 20px;
    border: solid 2px white;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    white-space: nowrap;
}

#screen3-buttons button:hover {
    background-color: white;
    color: black;
}


#part-image {
    filter: invert(1);
    mix-blend-mode: screen;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 40%;
    max-width: 25vw;
    max-height: 45vh;

}

#partnowrapper {
    transform: rotate(0deg);
    position: absolute;
    top: 10vh;
    left: 50vw;
    transform: translateX(-50%);
    width: 95vw;
    height: 30vh;
}

#part-number {
    text-anchor: middle;
    fill: rgb(255, 255, 255);
    font-size: 24pt;
    offset: 50%;
    font-family: Timezone-italic;
}

#commemoratewrapper {
    position: absolute;
    top: 65vh;
    left: 50vw;
    transform: translateX(-50%);
    width: 50vw;
    height: 30vh;
}

#commemorate-text {
    text-anchor: middle;
    fill: rgb(255, 255, 255);
    font-size: 16pt;
    offset: 50%;
    font-family: Timezone-italic;
}

#namewrapper {
    transform: rotate(0deg);
    position: absolute;
    top: 15vh;
    left: 50vw;
    transform: translateX(-50%);
    width: 80vw;
    height: 30vh;
}

#artifact-name {
    text-anchor: middle;
    fill: rgb(255, 255, 255);
    font-size: 26pt;
    offset: 50%;
    font-family: Timezone-italic;
    letter-spacing: -0.5px;
}

#descwrapper p {
    color: rgb(255, 255, 255);
    font-size: 15pt;
    font-family: Timezone-italic;
    width: 33vw;
    text-wrap: wrap;
    position: relative;
}

#index,
#aura,
#element {
    opacity: 60%;
}

#descwrapper {
    position: absolute;
    bottom: 2em;
    left: 2em;
}

#line1,
#line2 {
    position: absolute;
    left: 50wv;
    transform: translateX(-50%);
}

#screwbox {
    position: absolute;
    top: 30vh;
    left: 50vw;
    transform: translateX(-50%);

}

#screwbox div {
    height: 70px;
    width: 70px;
    display: inline-block;
    margin: 1.5em;
    transition: transform 0.5s ease;
    position: relative;
    opacity: 80%;

}

#screwbox div::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: magenta;
    filter: blur(20px);
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#screwbox div:hover {
    transform: scale(1.2);

}

#screwbox div:hover::before {
    opacity: 0.8;
}

#sad {
    top: calc(10vh + 20vw - 7.5px);
    left: 27vw;

}

#happy {
    top: calc(10vh + 20vw - 7.5px);
    left: calc(73vw - 15px);

}

#exclama {
    top: 6vh;
    left: calc(50vw - 7.5px);
}

#zzz {
    top: 75vh;
    left: calc(50vw - 12.5px);
    width: 25px !important;
}

#moodbox {
    border: solid 1px white;
    width: 40vw;
    height: 40vw;
    position: absolute;
    left: 50vw;
    top: 10vh;
    border-radius: 5px;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0;
}

#moodbox::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 20px;
    right: 20px;
    height: 0;
    border-top: 1px dashed white;
    border-spacing: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}

#moodbox::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 20px;
    bottom: 20px;
    width: 0;
    border-left: 1px dashed white;
    transform: translateX(-50%);
    pointer-events: none;
}

.quadrant {

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
    padding: 20px;
}

.quadrant .circle {
    border: 1px solid white;
    border-radius: 50%;
    width: 20%;
    margin: auto;
    aspect-ratio: 1;
}

#loader {
    transform: rotate(0deg);
    position: absolute;
    top: 10vh;
    left: 50vw;
    transform: translateX(-50%);
    width: 70vw;
    height: 40vh;
}

#loader text {
    text-anchor: middle;
    fill: rgb(255, 255, 255);
    font-size: 20pt;
    offset: 50%;
    font-family: Timezone-italic;
}

#delivery-msg {
    transform: rotate(0deg);
    position: absolute;
    top: 10vh;
    left: 50vw;
    transform: translateX(-50%);
    width: 80vw;
    height: 30vh;
}

#delivery-text {
    text-anchor: middle;
    fill: rgb(255, 255, 255);
    font-size: 21pt;
    offset: 50%;
    font-family: Timezone-italic;
}

@keyframes screwIn {
    0% {
        transform: translate(-50%, -50%) rotate(0deg) scale(1);
    }

    100% {
        transform: translate(-50%, -50%) rotate(3600deg) scale(0.8);
    }
}

.screw-animation {
    animation: screwIn 1.4s ease-in-out forwards;
}

#huebox {
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 0, 255);
    mix-blend-mode: hue;
    position: absolute;
    z-index: 999;
    transition: filter 1.5s ease;
    pointer-events: none;
}

#labels img {
    width: 15px;
    position: absolute;
}


#ike-print {
    display: none;
}


@media print {
    @page {
        size: letter portrait;
        margin: 0.25in;
    }

    body {
        background-color: white;
        overflow: visible;
    }


    #screen1,
    #screen2,
    #screen20,
    #screen21,
    #screen29,
    #aurabox,
    #huebox,
    #screen3-buttons,
    #bubContainer {
        display: none !important;
    }


    #screen3 {
        display: block !important;
        opacity: 1 !important;
        position: relative;
        width: 100%;
        height: 100vh;
    }


    #ike {
        display: none !important;
    }


    #ike-print {
        display: block !important;
        position: absolute !important;
        left: 60vw !important;
        top: 120vh !important;
        width: 100px !important;
        height: 100px !important;
        filter: invert(1) !important;
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
    }


    #part-image {
        filter: invert(1);
        mix-blend-mode: normal;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 40%;
        width: 70vw;
        max-height: 70vh;
    }


    #partnowrapper,
    #namewrapper,
    #commemoratewrapper {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    #partnowrapper {
        top: 10vh;
    }

    #namewrapper {
        top: 15vh;
    }

    #commemoratewrapper {
        top: 65vh;
    }


    #artifact-name,
    #part-number,
    #commemorate-text {
        fill: black !important;
    }

    #desc,
    #index,
    #aura,
    #element {
        color: black !important;
    }


    #descwrapper {
        position: absolute;
        top: 110vh;
        left: 1.5em;
    }
}